Repository blitzy-public-samples/test-v1-bzho0m, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @api-team, @security-team, @billing-team, @guest-service-team, @reservation-team, @room-service-team, @realtime-team, @frontend-team, @mobile-team, @devops-team

Add public-samples/test-v1-bzho0m/src/backend/src/billing-service/src/routes/invoice.routes.ts
  src/backend/src/billing-service/src/routes/invoice.routes.ts
Owners: @billing-team, @security-team

Add public-samples/test-v1-bzho0m/src/backend/src/billing-service/src/routes/payment.routes.ts
  src/backend/src/billing-service/src/routes/payment.routes.ts
Owners: @billing-team, @security-team

Add public-samples/test-v1-bzho0m/src/backend/src/billing-service/src/services/payment-gateway.service.ts
  src/backend/src/billing-service/src/services/payment-gateway.service.ts
Owners: @billing-team, @security-team

Add public-samples/test-v1-bzho0m/src/backend/src/billing-service/src/services/stripe.service.ts
  src/backend/src/billing-service/src/services/stripe.service.ts
Owners: @billing-team, @security-team

Add public-samples/test-v1-bzho0m/src/backend/src/billing-service/tests/integration/payment.test.ts
  src/backend/src/billing-service/tests/integration/payment.test.ts
Owners: @billing-team, @security-team

Add public-samples/test-v1-bzho0m/src/backend/src/billing-service/tests/unit/invoice.test.ts
  src/backend/src/billing-service/tests/unit/invoice.test.ts
Owners: @billing-team, @security-team

Add public-samples/test-v1-bzho0m/src/backend/src/guest-service/Dockerfile
  src/backend/src/guest-service/Dockerfile
Owners: @guest-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/guest-service/README.md
  src/backend/src/guest-service/README.md
Owners: @guest-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/guest-service/package.json
  src/backend/src/guest-service/package.json
Owners: @security-team, @devops-team

Add public-samples/test-v1-bzho0m/src/backend/src/guest-service/src/config/database.ts
  src/backend/src/guest-service/src/config/database.ts
Owners: @guest-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/guest-service/src/controllers/guest.controller.ts
  src/backend/src/guest-service/src/controllers/guest.controller.ts
Owners: @guest-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/guest-service/src/controllers/preference.controller.ts
  src/backend/src/guest-service/src/controllers/preference.controller.ts
Owners: @guest-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/guest-service/src/models/guest.model.ts
  src/backend/src/guest-service/src/models/guest.model.ts
Owners: @guest-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/guest-service/src/models/preference.model.ts
  src/backend/src/guest-service/src/models/preference.model.ts
Owners: @guest-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/guest-service/src/routes/guest.routes.ts
  src/backend/src/guest-service/src/routes/guest.routes.ts
Owners: @guest-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/guest-service/src/services/guest.service.ts
  src/backend/src/guest-service/src/services/guest.service.ts
Owners: @guest-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/guest-service/tests/integration/guest.test.ts
  src/backend/src/guest-service/tests/integration/guest.test.ts
Owners: @guest-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/guest-service/tests/unit/preference.test.ts
  src/backend/src/guest-service/tests/unit/preference.test.ts
Owners: @guest-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/reservation-service/Dockerfile
  src/backend/src/reservation-service/Dockerfile
Owners: @reservation-team

Add public-samples/test-v1-bzho0m/src/backend/src/reservation-service/README.md
  src/backend/src/reservation-service/README.md
Owners: @reservation-team

Add public-samples/test-v1-bzho0m/src/backend/src/reservation-service/package.json
  src/backend/src/reservation-service/package.json
Owners: @security-team, @devops-team

Add public-samples/test-v1-bzho0m/src/backend/src/reservation-service/src/config/database.ts
  src/backend/src/reservation-service/src/config/database.ts
Owners: @reservation-team

Add public-samples/test-v1-bzho0m/src/backend/src/reservation-service/src/controllers/booking.controller.ts
  src/backend/src/reservation-service/src/controllers/booking.controller.ts
Owners: @reservation-team

Add public-samples/test-v1-bzho0m/src/backend/src/reservation-service/src/controllers/rate.controller.ts
  src/backend/src/reservation-service/src/controllers/rate.controller.ts
Owners: @reservation-team

Add public-samples/test-v1-bzho0m/src/backend/src/reservation-service/src/models/booking.model.ts
  src/backend/src/reservation-service/src/models/booking.model.ts
Owners: @reservation-team

Add public-samples/test-v1-bzho0m/src/backend/src/reservation-service/src/models/rate.model.ts
  src/backend/src/reservation-service/src/models/rate.model.ts
Owners: @reservation-team

Add public-samples/test-v1-bzho0m/src/backend/src/reservation-service/src/routes/booking.routes.ts
  src/backend/src/reservation-service/src/routes/booking.routes.ts
Owners: @reservation-team

Add public-samples/test-v1-bzho0m/src/backend/src/reservation-service/src/routes/rate.routes.ts
  src/backend/src/reservation-service/src/routes/rate.routes.ts
Owners: @reservation-team

Add public-samples/test-v1-bzho0m/src/backend/src/reservation-service/src/services/availability.service.ts
  src/backend/src/reservation-service/src/services/availability.service.ts
Owners: @reservation-team

Add public-samples/test-v1-bzho0m/src/backend/src/reservation-service/src/services/pricing.service.ts
  src/backend/src/reservation-service/src/services/pricing.service.ts
Owners: @reservation-team

Add public-samples/test-v1-bzho0m/src/backend/src/reservation-service/tests/integration/booking.test.ts
  src/backend/src/reservation-service/tests/integration/booking.test.ts
Owners: @reservation-team

Add public-samples/test-v1-bzho0m/src/backend/src/reservation-service/tests/unit/rate.test.ts
  src/backend/src/reservation-service/tests/unit/rate.test.ts
Owners: @reservation-team

Add public-samples/test-v1-bzho0m/src/backend/src/room-service/Dockerfile
  src/backend/src/room-service/Dockerfile
Owners: @room-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/room-service/README.md
  src/backend/src/room-service/README.md
Owners: @room-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/room-service/package.json
  src/backend/src/room-service/package.json
Owners: @security-team, @devops-team

Add public-samples/test-v1-bzho0m/src/backend/src/room-service/src/config/database.ts
  src/backend/src/room-service/src/config/database.ts
Owners: @room-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/room-service/src/controllers/housekeeping.controller.ts
  src/backend/src/room-service/src/controllers/housekeeping.controller.ts
Owners: @room-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/room-service/src/controllers/maintenance.controller.ts
  src/backend/src/room-service/src/controllers/maintenance.controller.ts
Owners: @room-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/room-service/src/controllers/room.controller.ts
  src/backend/src/room-service/src/controllers/room.controller.ts
Owners: @room-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/room-service/src/models/housekeeping.model.ts
  src/backend/src/room-service/src/models/housekeeping.model.ts
Owners: @room-service-team

.github/CODEOWNERS:

# Project leads review all root level changes for architectural consistency
* @project-leads

# Backend services code ownership
/src/backend/ @backend-team

# API Gateway - Joint ownership by API and Security teams
/src/backend/src/api-gateway/ @api-team @security-team

# Billing service - Joint ownership by Billing and Security teams for PCI compliance
/src/backend/src/billing-service/ @billing-team @security-team

# Guest service ownership
/src/backend/src/guest-service/ @guest-service-team

# Reservation service ownership
/src/backend/src/reservation-service/ @reservation-team

# Room service ownership
/src/backend/src/room-service/ @room-service-team

# WebSocket service ownership
/src/backend/src/websocket-service/ @realtime-team

# Frontend application code ownership
/src/web/ @frontend-team

# Mobile-specific code ownership
/src/web/src/mobile/ @mobile-team

# Infrastructure code ownership
/infrastructure/ @devops-team @security-team

# Kubernetes security policies
/infrastructure/kubernetes/security/ @security-team

# CI/CD workflows ownership
/.github/workflows/ @devops-team

# Security-critical components
/src/backend/src/shared/utils/encryption.util.ts @security-team

# Dependencies security review
package.json @security-team @devops-team
