Repository blitzy-public-samples/test-v1-bzho0m, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @api-team, @security-team, @billing-team, @guest-service-team, @reservation-team, @room-service-team, @realtime-team, @frontend-team, @mobile-team, @devops-team

.github/CODEOWNERS:

# Project leads review all root level changes for architectural consistency
* @project-leads

# Backend services code ownership
/src/backend/ @backend-team

# API Gateway - Joint ownership by API and Security teams
/src/backend/src/api-gateway/ @api-team @security-team

# Billing service - Joint ownership by Billing and Security teams for PCI compliance
/src/backend/src/billing-service/ @billing-team @security-team

# Guest service ownership
/src/backend/src/guest-service/ @guest-service-team

# Reservation service ownership
/src/backend/src/reservation-service/ @reservation-team

# Room service ownership
/src/backend/src/room-service/ @room-service-team

# WebSocket service ownership
/src/backend/src/websocket-service/ @realtime-team

# Frontend application code ownership
/src/web/ @frontend-team

# Mobile-specific code ownership
/src/web/src/mobile/ @mobile-team

# Infrastructure code ownership
/infrastructure/ @devops-team @security-team

# Kubernetes security policies
/infrastructure/kubernetes/security/ @security-team

# CI/CD workflows ownership
/.github/workflows/ @devops-team

# Security-critical components
/src/backend/src/shared/utils/encryption.util.ts @security-team

# Dependencies security review
package.json @security-team @devops-team

Add public-samples/test-v1-bzho0m/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @project-leads

Add public-samples/test-v1-bzho0m/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @project-leads

Add public-samples/test-v1-bzho0m/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @project-leads

Add public-samples/test-v1-bzho0m/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team

Add public-samples/test-v1-bzho0m/.github/workflows/deploy-production.yml
  .github/workflows/deploy-production.yml
Owners: @devops-team

Add public-samples/test-v1-bzho0m/.github/workflows/deploy-staging.yml
  .github/workflows/deploy-staging.yml
Owners: @devops-team

Add public-samples/test-v1-bzho0m/.github/workflows/frontend-ci.yml
  .github/workflows/frontend-ci.yml
Owners: @devops-team

Add public-samples/test-v1-bzho0m/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @project-leads

Add public-samples/test-v1-bzho0m/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @project-leads

Add public-samples/test-v1-bzho0m/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @project-leads

Add public-samples/test-v1-bzho0m/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @project-leads

Add public-samples/test-v1-bzho0m/infrastructure/README.md
  infrastructure/README.md
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/docker/elk/elasticsearch.yml
  infrastructure/docker/elk/elasticsearch.yml
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/docker/elk/kibana.yml
  infrastructure/docker/elk/kibana.yml
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/docker/elk/logstash.yml
  infrastructure/docker/elk/logstash.yml
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/docker/kong/Dockerfile
  infrastructure/docker/kong/Dockerfile
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/docker/kong/config.yaml
  infrastructure/docker/kong/config.yaml
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/docker/monitoring/grafana.ini
  infrastructure/docker/monitoring/grafana.ini
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/docker/monitoring/prometheus.yml
  infrastructure/docker/monitoring/prometheus.yml
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/kubernetes/apps/api-gateway.yaml
  infrastructure/kubernetes/apps/api-gateway.yaml
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/kubernetes/apps/billing-service.yaml
  infrastructure/kubernetes/apps/billing-service.yaml
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/kubernetes/apps/guest-service.yaml
  infrastructure/kubernetes/apps/guest-service.yaml
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/kubernetes/apps/reservation-service.yaml
  infrastructure/kubernetes/apps/reservation-service.yaml
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/kubernetes/apps/room-service.yaml
  infrastructure/kubernetes/apps/room-service.yaml
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/kubernetes/apps/web-frontend.yaml
  infrastructure/kubernetes/apps/web-frontend.yaml
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/kubernetes/apps/websocket-service.yaml
  infrastructure/kubernetes/apps/websocket-service.yaml
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/kubernetes/base/configmap.yaml
  infrastructure/kubernetes/base/configmap.yaml
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/kubernetes/base/namespace.yaml
  infrastructure/kubernetes/base/namespace.yaml
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/kubernetes/base/secrets.yaml
  infrastructure/kubernetes/base/secrets.yaml
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/kubernetes/base/storage-class.yaml
  infrastructure/kubernetes/base/storage-class.yaml
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/kubernetes/ingress/cert-manager.yaml
  infrastructure/kubernetes/ingress/cert-manager.yaml
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/kubernetes/ingress/nginx-ingress.yaml
  infrastructure/kubernetes/ingress/nginx-ingress.yaml
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/kubernetes/monitoring/elk-stack.yaml
  infrastructure/kubernetes/monitoring/elk-stack.yaml
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/kubernetes/monitoring/grafana.yaml
  infrastructure/kubernetes/monitoring/grafana.yaml
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/kubernetes/monitoring/jaeger.yaml
  infrastructure/kubernetes/monitoring/jaeger.yaml
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/kubernetes/monitoring/prometheus.yaml
  infrastructure/kubernetes/monitoring/prometheus.yaml
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/kubernetes/security/network-policies.yaml
  infrastructure/kubernetes/security/network-policies.yaml
Owners: @security-team

Add public-samples/test-v1-bzho0m/infrastructure/kubernetes/security/pod-security-policies.yaml
  infrastructure/kubernetes/security/pod-security-policies.yaml
Owners: @security-team

Add public-samples/test-v1-bzho0m/infrastructure/scripts/backup-database.sh
  infrastructure/scripts/backup-database.sh
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/scripts/deploy-production.sh
  infrastructure/scripts/deploy-production.sh
Owners: @devops-team, @security-team
