Repository blitzy-public-samples/test-v1-bzho0m, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @api-team, @security-team, @billing-team, @guest-service-team, @reservation-team, @room-service-team, @realtime-team, @frontend-team, @mobile-team, @devops-team

.github/CODEOWNERS:

# Project leads review all root level changes for architectural consistency
* @project-leads

# Backend services code ownership
/src/backend/ @backend-team

# API Gateway - Joint ownership by API and Security teams
/src/backend/src/api-gateway/ @api-team @security-team

# Billing service - Joint ownership by Billing and Security teams for PCI compliance
/src/backend/src/billing-service/ @billing-team @security-team

# Guest service ownership
/src/backend/src/guest-service/ @guest-service-team

# Reservation service ownership
/src/backend/src/reservation-service/ @reservation-team

# Room service ownership
/src/backend/src/room-service/ @room-service-team

# WebSocket service ownership
/src/backend/src/websocket-service/ @realtime-team

# Frontend application code ownership
/src/web/ @frontend-team

# Mobile-specific code ownership
/src/web/src/mobile/ @mobile-team

# Infrastructure code ownership
/infrastructure/ @devops-team @security-team

# Kubernetes security policies
/infrastructure/kubernetes/security/ @security-team

# CI/CD workflows ownership
/.github/workflows/ @devops-team

# Security-critical components
/src/backend/src/shared/utils/encryption.util.ts @security-team

# Dependencies security review
package.json @security-team @devops-team

Add public-samples/test-v1-bzho0m/infrastructure/scripts/deploy-staging.sh
  infrastructure/scripts/deploy-staging.sh
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/scripts/init-database.sh
  infrastructure/scripts/init-database.sh
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/scripts/monitoring-setup.sh
  infrastructure/scripts/monitoring-setup.sh
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/scripts/ssl-renewal.sh
  infrastructure/scripts/ssl-renewal.sh
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/terraform/aws/cloudfront.tf
  infrastructure/terraform/aws/cloudfront.tf
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/terraform/aws/eks.tf
  infrastructure/terraform/aws/eks.tf
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/terraform/aws/elasticache.tf
  infrastructure/terraform/aws/elasticache.tf
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/terraform/aws/main.tf
  infrastructure/terraform/aws/main.tf
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/terraform/aws/outputs.tf
  infrastructure/terraform/aws/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/terraform/aws/rds.tf
  infrastructure/terraform/aws/rds.tf
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/terraform/aws/route53.tf
  infrastructure/terraform/aws/route53.tf
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/terraform/aws/s3.tf
  infrastructure/terraform/aws/s3.tf
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/terraform/aws/variables.tf
  infrastructure/terraform/aws/variables.tf
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/terraform/aws/vpc.tf
  infrastructure/terraform/aws/vpc.tf
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/infrastructure/terraform/aws/waf.tf
  infrastructure/terraform/aws/waf.tf
Owners: @devops-team, @security-team

Add public-samples/test-v1-bzho0m/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team

Add public-samples/test-v1-bzho0m/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team

Add public-samples/test-v1-bzho0m/src/backend/.eslintrc.ts
  src/backend/.eslintrc.ts
Owners: @backend-team

Add public-samples/test-v1-bzho0m/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team

Add public-samples/test-v1-bzho0m/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team

Add public-samples/test-v1-bzho0m/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

Add public-samples/test-v1-bzho0m/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team

Add public-samples/test-v1-bzho0m/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team

Add public-samples/test-v1-bzho0m/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team

Add public-samples/test-v1-bzho0m/src/backend/package.json
  src/backend/package.json
Owners: @security-team, @devops-team

Add public-samples/test-v1-bzho0m/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team

Add public-samples/test-v1-bzho0m/src/backend/src/api-gateway/config/kong.config.ts
  src/backend/src/api-gateway/config/kong.config.ts
Owners: @api-team, @security-team

Add public-samples/test-v1-bzho0m/src/backend/src/api-gateway/middleware/auth.middleware.ts
  src/backend/src/api-gateway/middleware/auth.middleware.ts
Owners: @api-team, @security-team

Add public-samples/test-v1-bzho0m/src/backend/src/api-gateway/middleware/ratelimit.middleware.ts
  src/backend/src/api-gateway/middleware/ratelimit.middleware.ts
Owners: @api-team, @security-team

Add public-samples/test-v1-bzho0m/src/backend/src/api-gateway/middleware/validation.middleware.ts
  src/backend/src/api-gateway/middleware/validation.middleware.ts
Owners: @api-team, @security-team

Add public-samples/test-v1-bzho0m/src/backend/src/api-gateway/routes/index.ts
  src/backend/src/api-gateway/routes/index.ts
Owners: @api-team, @security-team

Add public-samples/test-v1-bzho0m/src/backend/src/billing-service/Dockerfile
  src/backend/src/billing-service/Dockerfile
Owners: @billing-team, @security-team

Add public-samples/test-v1-bzho0m/src/backend/src/billing-service/README.md
  src/backend/src/billing-service/README.md
Owners: @billing-team, @security-team

Add public-samples/test-v1-bzho0m/src/backend/src/billing-service/package.json
  src/backend/src/billing-service/package.json
Owners: @security-team, @devops-team

Add public-samples/test-v1-bzho0m/src/backend/src/billing-service/src/config/database.ts
  src/backend/src/billing-service/src/config/database.ts
Owners: @billing-team, @security-team

Add public-samples/test-v1-bzho0m/src/backend/src/billing-service/src/controllers/invoice.controller.ts
  src/backend/src/billing-service/src/controllers/invoice.controller.ts
Owners: @billing-team, @security-team

Add public-samples/test-v1-bzho0m/src/backend/src/billing-service/src/controllers/payment.controller.ts
  src/backend/src/billing-service/src/controllers/payment.controller.ts
Owners: @billing-team, @security-team

Add public-samples/test-v1-bzho0m/src/backend/src/billing-service/src/models/folio.model.ts
  src/backend/src/billing-service/src/models/folio.model.ts
Owners: @billing-team, @security-team

Add public-samples/test-v1-bzho0m/src/backend/src/billing-service/src/models/invoice.model.ts
  src/backend/src/billing-service/src/models/invoice.model.ts
Owners: @billing-team, @security-team

Add public-samples/test-v1-bzho0m/src/backend/src/billing-service/src/models/payment.model.ts
  src/backend/src/billing-service/src/models/payment.model.ts
Owners: @billing-team, @security-team
