Repository blitzy-public-samples/test-v1-bzho0m, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @api-team, @security-team, @billing-team, @guest-service-team, @reservation-team, @room-service-team, @realtime-team, @frontend-team, @mobile-team, @devops-team

.github/CODEOWNERS:

# Project leads review all root level changes for architectural consistency
* @project-leads

# Backend services code ownership
/src/backend/ @backend-team

# API Gateway - Joint ownership by API and Security teams
/src/backend/src/api-gateway/ @api-team @security-team

# Billing service - Joint ownership by Billing and Security teams for PCI compliance
/src/backend/src/billing-service/ @billing-team @security-team

# Guest service ownership
/src/backend/src/guest-service/ @guest-service-team

# Reservation service ownership
/src/backend/src/reservation-service/ @reservation-team

# Room service ownership
/src/backend/src/room-service/ @room-service-team

# WebSocket service ownership
/src/backend/src/websocket-service/ @realtime-team

# Frontend application code ownership
/src/web/ @frontend-team

# Mobile-specific code ownership
/src/web/src/mobile/ @mobile-team

# Infrastructure code ownership
/infrastructure/ @devops-team @security-team

# Kubernetes security policies
/infrastructure/kubernetes/security/ @security-team

# CI/CD workflows ownership
/.github/workflows/ @devops-team

# Security-critical components
/src/backend/src/shared/utils/encryption.util.ts @security-team

# Dependencies security review
package.json @security-team @devops-team

Add public-samples/test-v1-bzho0m/src/backend/src/room-service/src/models/maintenance.model.ts
  src/backend/src/room-service/src/models/maintenance.model.ts
Owners: @room-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/room-service/src/models/room.model.ts
  src/backend/src/room-service/src/models/room.model.ts
Owners: @room-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/room-service/src/routes/housekeeping.routes.ts
  src/backend/src/room-service/src/routes/housekeeping.routes.ts
Owners: @room-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/room-service/src/routes/maintenance.routes.ts
  src/backend/src/room-service/src/routes/maintenance.routes.ts
Owners: @room-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/room-service/src/routes/room.routes.ts
  src/backend/src/room-service/src/routes/room.routes.ts
Owners: @room-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/room-service/src/services/door-lock.service.ts
  src/backend/src/room-service/src/services/door-lock.service.ts
Owners: @room-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/room-service/src/services/room-status.service.ts
  src/backend/src/room-service/src/services/room-status.service.ts
Owners: @room-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/room-service/tests/integration/room.test.ts
  src/backend/src/room-service/tests/integration/room.test.ts
Owners: @room-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/room-service/tests/unit/housekeeping.test.ts
  src/backend/src/room-service/tests/unit/housekeeping.test.ts
Owners: @room-service-team

Add public-samples/test-v1-bzho0m/src/backend/src/shared/constants/error-codes.ts
  src/backend/src/shared/constants/error-codes.ts
Owners: @backend-team

Add public-samples/test-v1-bzho0m/src/backend/src/shared/constants/status-codes.ts
  src/backend/src/shared/constants/status-codes.ts
Owners: @backend-team

Add public-samples/test-v1-bzho0m/src/backend/src/shared/interfaces/base-controller.interface.ts
  src/backend/src/shared/interfaces/base-controller.interface.ts
Owners: @backend-team

Add public-samples/test-v1-bzho0m/src/backend/src/shared/interfaces/base-model.interface.ts
  src/backend/src/shared/interfaces/base-model.interface.ts
Owners: @backend-team

Add public-samples/test-v1-bzho0m/src/backend/src/shared/interfaces/base-service.interface.ts
  src/backend/src/shared/interfaces/base-service.interface.ts
Owners: @backend-team

Add public-samples/test-v1-bzho0m/src/backend/src/shared/middleware/error-handler.middleware.ts
  src/backend/src/shared/middleware/error-handler.middleware.ts
Owners: @backend-team

Add public-samples/test-v1-bzho0m/src/backend/src/shared/middleware/logger.middleware.ts
  src/backend/src/shared/middleware/logger.middleware.ts
Owners: @backend-team

Add public-samples/test-v1-bzho0m/src/backend/src/shared/utils/date.util.ts
  src/backend/src/shared/utils/date.util.ts
Owners: @backend-team

Add public-samples/test-v1-bzho0m/src/backend/src/shared/utils/encryption.util.ts
  src/backend/src/shared/utils/encryption.util.ts
Owners: @security-team

Add public-samples/test-v1-bzho0m/src/backend/src/shared/utils/validation.util.ts
  src/backend/src/shared/utils/validation.util.ts
Owners: @backend-team

Add public-samples/test-v1-bzho0m/src/backend/src/websocket-service/Dockerfile
  src/backend/src/websocket-service/Dockerfile
Owners: @realtime-team

Add public-samples/test-v1-bzho0m/src/backend/src/websocket-service/README.md
  src/backend/src/websocket-service/README.md
Owners: @realtime-team

Add public-samples/test-v1-bzho0m/src/backend/src/websocket-service/package.json
  src/backend/src/websocket-service/package.json
Owners: @security-team, @devops-team

Add public-samples/test-v1-bzho0m/src/backend/src/websocket-service/src/config/websocket.ts
  src/backend/src/websocket-service/src/config/websocket.ts
Owners: @realtime-team

Add public-samples/test-v1-bzho0m/src/backend/src/websocket-service/src/controllers/notification.controller.ts
  src/backend/src/websocket-service/src/controllers/notification.controller.ts
Owners: @realtime-team

Add public-samples/test-v1-bzho0m/src/backend/src/websocket-service/src/handlers/room-status.handler.ts
  src/backend/src/websocket-service/src/handlers/room-status.handler.ts
Owners: @realtime-team

Add public-samples/test-v1-bzho0m/src/backend/src/websocket-service/src/handlers/service-request.handler.ts
  src/backend/src/websocket-service/src/handlers/service-request.handler.ts
Owners: @realtime-team

Add public-samples/test-v1-bzho0m/src/backend/src/websocket-service/tests/integration/websocket.test.ts
  src/backend/src/websocket-service/tests/integration/websocket.test.ts
Owners: @realtime-team

Add public-samples/test-v1-bzho0m/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team

Add public-samples/test-v1-bzho0m/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team

Add public-samples/test-v1-bzho0m/src/web/.eslintrc.ts
  src/web/.eslintrc.ts
Owners: @frontend-team

Add public-samples/test-v1-bzho0m/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/test-v1-bzho0m/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/test-v1-bzho0m/src/web/babel.config.js
  src/web/babel.config.js
Owners: @frontend-team

Add public-samples/test-v1-bzho0m/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team

Add public-samples/test-v1-bzho0m/src/web/package.json
  src/web/package.json
Owners: @security-team, @devops-team

Add public-samples/test-v1-bzho0m/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team

Add public-samples/test-v1-bzho0m/src/web/webpack.config.ts
  src/web/webpack.config.ts
Owners: @frontend-team

Add public-samples/test-v1-bzho0m/src/web/src/mobile/App.tsx
  src/web/src/mobile/App.tsx
Owners: @mobile-team

Add public-samples/test-v1-bzho0m/src/web/src/mobile/index.tsx
  src/web/src/mobile/index.tsx
Owners: @mobile-team

Add public-samples/test-v1-bzho0m/src/web/src/mobile/routes.tsx
  src/web/src/mobile/routes.tsx
Owners: @mobile-team
